.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #c898f3;
    padding: 0.15rem;
    height: 56px;
}

.nav-links {
  list-style: none;
    display: flex;
    gap: 1.5rem;
}

.nav-links a { color: black; text-decoration: none;}
.nav-links a:hover { color: #fff;}

.btn-login {
    background: black;
    color: #fff;
    border: none;
    padding: 8px 18px;
    border-radius: 6px;
    cursor: pointer;
}